##
Integer

In [1]:
print(123123123123123131132123+1)

123123123123123131132124

In [2]:
#Python interprets a sequence of decimal digits without any prefix to be a decimal

print(10)
print(type(10))

10
<class 'int'>

##
Floating-Point Numbers

In [4]:
print(4.2)
print(type(4.2))

print(4.)

print(.2)

print(.4e7)

print(4.2e-4)

4.2
<class 'float'>
4.0
0.2
4000000.0
0.00042

##
Strings

In [5]:
print("Hacktiv8")
print(type("Hacktiv8"))

Hacktiv8
<class 'str'>

In [6]:
print('')

In [7]:
print("This string contains a single quote (') character")

This string contains a single quote (') character

In [8]:
print("This string contains a single quote (') character")
print('This string contains a double quote (")character')

This string contains a single quote (') character
This string contains a double quote (")character

##
Boolean Type, Boolean Context, and "Truthiness"

In [10]:
print(type(True))

print(type(False))

<class 'bool'>
<class 'bool'>

##
Variable Assignment

In [11]:
n = 300

In [12]:
print(n)

300

In [14]:
n

300

In [17]:
#Later, if you change the value of n and use it again, the new value will be substituted instead
n= 1000
print(n)
n

1000

1000

In [18]:
a = b = c = 300
print(a,b,c)

300 300 300

##
Variable Types in Python

In [23]:
var = 23.5
print(var)

var = "Now I'm a string"
print(var)

23.5
Now I'm a string

##
Variable Names

In [25]:
name = "Hacktiv8"
age = 54
has_laptops = True
print(name, age, has_laptops)

Hacktiv8 54 True

In [26]:
9_kepala_naga

SyntaxError: invalid decimal literal (1021983610.py, line 1)

In [28]:
age = 1
Age = 2
aGe = 3
AGE = 4
a_g_e = 5
_age = 6
age_ = 7
_AGE_ = 8

print(age,Age, aGe, AGE, a_g_e, _age, age_, _AGE_)

1 2 3 4 5 6 7 8

##
Operators and Express in Python

In [29]:
a = 10
b = 20
a+b

30

In [30]:
a=10
b=20
a+b-5

25

##
Arithmetic Operators

In [32]:
#Here are some examples of these opertors in use:
a=4
b=3

print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a**b)

7
1
12
1.3333333333333333
1
64

In [33]:
10/5

2.0

##
Comparison Operators

In [34]:
#Here are examples of the comparison operators in use
a=10
b=20
print(a==b)
print(a!=b)
print(a<=b)
print(a>=b)

a=30
b=30

print(a==b)
print(a<=b)
print(a>=b)

False
True
True
False
True
True
True

##
String Manipulation

In [35]:
# + Operators
s = 'foo'
t = 'bar'
u = 'baz'

print(s+t)
print(s+t+u)
print('Hactiv8 ' + 'PTP')

foobar
foobarbaz
Hactiv8 PTP

In [37]:
# * Operators

s = 'foo.'
s*4

'foo.foo.foo.foo.'

In [39]:
#in Operators
s = 'foo'
print(s in 'That food for us')
print(s in 'That good for us')

True
False

In [40]:
#Case Conversion
s = 'HackTIV8'

#Capitalize
print(s.capitalize())

#Lower
print(s.lower())

#Swapcase
print(s.swapcase())

#Title
print(s.title())

#Uppercase
print(s.upper())

Hacktiv8
hacktiv8
hACKtiv8
Hacktiv8
HACKTIV8

##
Python Lists

In [42]:
a = ['foo','bae','baz','quz']

print(a)

['foo', 'bae', 'baz', 'quz']

Lists Are Ordered

In [43]:
a=['foo','bar','baz','qux']
b=['baz','qux','bar','foo']

a==b

False

Lists Can Contain Arbitrary Objects

In [44]:
a=[21.42,'foobar',3,4,'bark', False, 3.14159]
print(a)

[21.42, 'foobar', 3, 4, 'bark', False, 3.14159]

Lists Elements Can Be Accessed by Index

In [48]:
a=['foo','bar','baz','qux','quux','corge']

In [49]:
print(a[0])
print(a[5])

foo
corge

In [50]:
a[2:5]

['baz', 'qux', 'quux']

In [51]:
#The concatination (+) and replication (*) operators:
print(a)

print(a+['grault','garply'])
print(a*2)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'grault', 'garply']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [52]:
#len(), min(), max()
print(a)

print(len(a))
print(min(a))
print(max(a))

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
6
bar
qux

Modifying a Single List Value

In [53]:
a=['foo','bar','baz','qux','quux','corge']
print(a)

a[2]=10
a[-1]=20

print(a)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 10, 'qux', 'quux', 20]

In [54]:
# A list item can be deleted with del command:
del a[3]

In [55]:
print(a)

['foo', 'bar', 10, 'quux', 20]

Modifying Multiple List Values

In [56]:
a=['foo','bar','baz','qux','quux','corge']
print(a[1:4])

a[1:4]=[1.1,2.2,3.3,4.4,5.5]

print(a)

['bar', 'baz', 'qux']
['foo', 1.1, 2.2, 3.3, 4.4, 5.5, 'quux', 'corge']

Python Tuples
Defining an Using Tuples

In [57]:
t = ('foo','bar','baz','qux','quux','corge')

print(t)

('foo', 'bar', 'baz', 'qux', 'quux', 'corge')

In [58]:
print(t[0])
print(t[-1])

foo
corge

In [60]:
#packing and unpacking
(s1, s2, s3,s4)=('foo','bar','baz','quz')

s1

'foo'

Python Dictionary
Defining a Dictionary

In [61]:
MLB_team = {
    'Colorado':'Rockies',
    'Boston':'Red Sox',
    'Minnesota':'Twins',
    'Milwaukee':'Brewers',
    'Seattle':'Mariners'
}

Accessing Dictionary Values

In [63]:
print(MLB_team['Minnesota'])
print(MLB_team['Colorado'])

#error
#MLB_team['Toronto']

Twins
Rockies

In [65]:
#Adding an entry to an existing dictionary is simply a matter of assigning a new key and value
MLB_team['Kansas City'] = 'Royals'
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Mariners',
 'Kansas City': 'Royals'}

In [66]:
#If you want to update an entry, you can just assign a new value to an existing key:
MLB_team['Seattle']='Seahawks'
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Seahawks',
 'Kansas City': 'Royals'}

In [67]:
#To delete an entry, use the del statement, specifying the key to delete:
del MLB_team['Seattle']
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Kansas City': 'Royals'}

Building a Dictionary Incrementally

In [68]:
person = {}
type(person)

person['fname'] = 'Hack'
person['lname'] = 'PTP'
person['age'] = 51
person['spouse'] = 'Edna'
person['children'] = ['Ralph', 'Betty', 'Joey']
person['pets'] = {'dog': 'Fido', 'cat': 'Sox'}

In [69]:
person

{'fname': 'Hack',
 'lname': 'PTP',
 'age': 51,
 'spouse': 'Edna',
 'children': ['Ralph', 'Betty', 'Joey'],
 'pets': {'dog': 'Fido', 'cat': 'Sox'}}

In [70]:
print(person['fname'])
print(person['lname'])

Hack
PTP

In [71]:
print(person['children'])
print(person['children'][1])

['Ralph', 'Betty', 'Joey']
Betty

In [72]:
print(person['pets'])
print(person['pets']['cat'])

{'dog': 'Fido', 'cat': 'Sox'}
Sox

In [73]:
# Built-in Methods
d = {'a': 10, 'b': 20, 'c': 30}

# items
print(d.items())

# keys
print(d.keys())

# values
print(d.values())

dict_items([('a', 10), ('b', 20), ('c', 30)])
dict_keys(['a', 'b', 'c'])
dict_values([10, 20, 30])

Line Contunuation

In [74]:
person1_age = 42
person2_age = 16
person3_age = 71

someone_is_of_working_age = (person1_age >= 18 and person1_age <= 65) or (person2_age >= 18 and person2_age <= 65) or (person3_age >= 18 and person3_age <= 65)
someone_is_of_working_age

True

In [75]:
someone_is_of_working_age = (
    (person1_age >= 18 and person1_age <= 65)
    or (person2_age >= 18 and person2_age <= 65)
    or (person3_age >= 18 and person3_age <= 65)
)

someone_is_of_working_age

True